/* Base */
/* ----------------------------------------------------------*/
/* line 4, ../_sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../_sass/_base.scss */
html, body {
  height: 100%;
}

/* line 11, ../_sass/_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

/* line 19, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

/* line 21, ../_sass/_base.scss */
a {
  color: #2a7ae2;
  text-decoration: none;
}

/* line 22, ../_sass/_base.scss */
a:hover {
  color: #000;
  text-decoration: underline;
}

/* line 23, ../_sass/_base.scss */
a:visited {
  color: #205caa;
}

/* Utility */
/* line 27, ../_sass/_base.scss */
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}

/* line 29, ../_sass/_base.scss */
.wrap:after {
  clear: both;
}

/* line 30, ../_sass/_base.scss */
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/
/* Site header */
/* line 43, ../_sass/_base.scss */
.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

/* line 50, ../_sass/_base.scss */
.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

/* line 63, ../_sass/_base.scss */
.site-nav {
  float: right;
  line-height: 56px;
}

/* line 68, ../_sass/_base.scss */
.site-nav .menu-icon {
  display: none;
}

/* line 70, ../_sass/_base.scss */
.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}

/* Site footer */
/* line 78, ../_sass/_base.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 83, ../_sass/_base.scss */
.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

/* line 90, ../_sass/_base.scss */
.site-footer .column {
  float: left;
  margin-bottom: 15px;
}

/* line 92, ../_sass/_base.scss */
.footer-col-1 {
  width: 270px;
  /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px;
}

/* line 100, ../_sass/_base.scss */
.footer-col-2 {
  width: 175px;
  /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px;
}

/* line 108, ../_sass/_base.scss */
.footer-col-3 {
  width: 335px;
  /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

/* line 116, ../_sass/_base.scss */
.site-footer ul {
  list-style: none;
}

/* line 118, ../_sass/_base.scss */
.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

/* line 125, ../_sass/_base.scss */
.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Page Content styles */
/* ----------------------------------------------------------*/
/* line 138, ../_sass/_base.scss */
.page-content {
  padding: 30px 0;
  background-color: #fff;
}

/* Home styles */
/* ----------------------------------------------------------*/
/* line 147, ../_sass/_base.scss */
.home h1 {
  margin-bottom: 25px;
}

/* line 149, ../_sass/_base.scss */
.posts {
  list-style-type: none;
}

/* line 151, ../_sass/_base.scss */
.posts li {
  margin-bottom: 30px;
}

/* line 153, ../_sass/_base.scss */
.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

/* line 159, ../_sass/_base.scss */
.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

/* Post styles */
/* ----------------------------------------------------------*/
/* line 169, ../_sass/_base.scss */
.post-header {
  margin: 10px 0 30px;
}

/* line 171, ../_sass/_base.scss */
.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

/* line 178, ../_sass/_base.scss */
.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

/* line 184, ../_sass/_base.scss */
.post-content {
  margin: 0 0 30px;
}

/* line 186, ../_sass/_base.scss */
.post-content > * {
  margin: 20px 0;
}

/* line 189, ../_sass/_base.scss */
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

/* line 200, ../_sass/_base.scss */
.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

/* line 205, ../_sass/_base.scss */
.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

/* line 210, ../_sass/_base.scss */
.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

/* line 215, ../_sass/_base.scss */
.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

/* line 225, ../_sass/_base.scss */
.post-content ul,
.post-content ol {
  padding-left: 20px;
}

/* line 228, ../_sass/_base.scss */
.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: scroll;
}

/* line 240, ../_sass/_base.scss */
.post code {
  padding: 1px 5px;
}

/* line 242, ../_sass/_base.scss */
.post ul,
.post ol {
  margin-left: 1.35em;
}

/* line 245, ../_sass/_base.scss */
.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
/* line 252, ../_sass/_base.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 261, ../_sass/_base.scss */
.post pre.terminal code {
  background-color: #333;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
/* line 266, ../_sass/_base.scss */
.highlight {
  background: #ffffff;
}

/* line 267, ../_sass/_base.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 268, ../_sass/_base.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 269, ../_sass/_base.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 270, ../_sass/_base.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 271, ../_sass/_base.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 272, ../_sass/_base.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 273, ../_sass/_base.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 274, ../_sass/_base.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 275, ../_sass/_base.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 276, ../_sass/_base.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 277, ../_sass/_base.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 278, ../_sass/_base.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 279, ../_sass/_base.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 280, ../_sass/_base.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 281, ../_sass/_base.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 282, ../_sass/_base.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 283, ../_sass/_base.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 284, ../_sass/_base.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 285, ../_sass/_base.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 286, ../_sass/_base.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 287, ../_sass/_base.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 288, ../_sass/_base.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 289, ../_sass/_base.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 290, ../_sass/_base.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 291, ../_sass/_base.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 292, ../_sass/_base.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 293, ../_sass/_base.scss */
.highlight .s {
  color: #d14;
}

/* Literal.String */
/* line 294, ../_sass/_base.scss */
.highlight .na {
  color: #008080;
}

/* Name.Attribute */
/* line 295, ../_sass/_base.scss */
.highlight .nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 296, ../_sass/_base.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 297, ../_sass/_base.scss */
.highlight .no {
  color: #008080;
}

/* Name.Constant */
/* line 298, ../_sass/_base.scss */
.highlight .ni {
  color: #800080;
}

/* Name.Entity */
/* line 299, ../_sass/_base.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 300, ../_sass/_base.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 301, ../_sass/_base.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 302, ../_sass/_base.scss */
.highlight .nt {
  color: #000080;
}

/* Name.Tag */
/* line 303, ../_sass/_base.scss */
.highlight .nv {
  color: #008080;
}

/* Name.Variable */
/* line 304, ../_sass/_base.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 305, ../_sass/_base.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 306, ../_sass/_base.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 307, ../_sass/_base.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 308, ../_sass/_base.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 309, ../_sass/_base.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 310, ../_sass/_base.scss */
.highlight .sb {
  color: #d14;
}

/* Literal.String.Backtick */
/* line 311, ../_sass/_base.scss */
.highlight .sc {
  color: #d14;
}

/* Literal.String.Char */
/* line 312, ../_sass/_base.scss */
.highlight .sd {
  color: #d14;
}

/* Literal.String.Doc */
/* line 313, ../_sass/_base.scss */
.highlight .s2 {
  color: #d14;
}

/* Literal.String.Double */
/* line 314, ../_sass/_base.scss */
.highlight .se {
  color: #d14;
}

/* Literal.String.Escape */
/* line 315, ../_sass/_base.scss */
.highlight .sh {
  color: #d14;
}

/* Literal.String.Heredoc */
/* line 316, ../_sass/_base.scss */
.highlight .si {
  color: #d14;
}

/* Literal.String.Interpol */
/* line 317, ../_sass/_base.scss */
.highlight .sx {
  color: #d14;
}

/* Literal.String.Other */
/* line 318, ../_sass/_base.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 319, ../_sass/_base.scss */
.highlight .s1 {
  color: #d14;
}

/* Literal.String.Single */
/* line 320, ../_sass/_base.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 321, ../_sass/_base.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 322, ../_sass/_base.scss */
.highlight .vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 323, ../_sass/_base.scss */
.highlight .vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 324, ../_sass/_base.scss */
.highlight .vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 325, ../_sass/_base.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* media queries */
/* ----------------------------------------------------------*/
@media screen and (max-width: 750px) {
  /* line 334, ../_sass/_base.scss */
  .footer-col-1 {
    width: 50%;
  }

  /* line 336, ../_sass/_base.scss */
  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  /* line 345, ../_sass/_base.scss */
  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}
@media screen and (max-width: 600px) {
  /* line 355, ../_sass/_base.scss */
  .wrap {
    padding: 0 12px;
  }

  /* line 357, ../_sass/_base.scss */
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  /* line 368, ../_sass/_base.scss */
  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  /* line 378, ../_sass/_base.scss */
  .site-nav .menu-icon svg {
    width: 18px;
    height: 16px;
  }

  /* line 380, ../_sass/_base.scss */
  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  /* line 386, ../_sass/_base.scss */
  .site-nav:hover .trigger {
    display: block;
  }

  /* line 388, ../_sass/_base.scss */
  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  /* line 396, ../_sass/_base.scss */
  .post-header h1 {
    font-size: 36px;
  }

  /* line 397, ../_sass/_base.scss */
  .post-content h2 {
    font-size: 28px;
  }

  /* line 398, ../_sass/_base.scss */
  .post-content h3 {
    font-size: 22px;
  }

  /* line 399, ../_sass/_base.scss */
  .post-content h4 {
    font-size: 18px;
  }

  /* line 400, ../_sass/_base.scss */
  .post-content blockquote {
    padding-left: 10px;
  }

  /* line 401, ../_sass/_base.scss */
  .post-content ul,
  .post-content ol {
    padding-left: 10px;
  }

  /* line 404, ../_sass/_base.scss */
  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px;
  }
}
/* line 3, ../_sass/main.scss */
#logo {
  float: left;
  margin-top: 10px;
}

/* line 8, ../_sass/main.scss */
.post-content img {
  width: 100%;
}

/* line 12, ../_sass/main.scss */
.single-post h1 {
  margin-bottom: 25px;
}

/* line 16, ../_sass/main.scss */
.posts li {
  margin-bottom: 0px;
}

/* line 20, ../_sass/main.scss */
.posts ul {
  list-style-type: circle;
}

/* line 24, ../_sass/main.scss */
.post code {
  overflow-wrap: break-word;
}

/* line 28, ../_sass/main.scss */
.post pre > code {
  overflow-wrap: normal;
}
