{% assign author = site.authors[post.author] %}
<div class="post">

  <header class="post-header">
    <h1><a href="{{ post.url }}">{{ post.title | xml_escape }}</a></h1>
    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if author %} • posted by <a href="https://github.com/{{ author.github }}">{{ author.display_name }}</a>{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {% if content %}{{ content }}{% else %}{{ post.excerpt }}{% endif %}
  </article>

</div>
