@import 'base';

.post-content img {
    width: 100%;
}

.single-post h1 {
    margin-bottom: 25px;
}

.post-content .video-embed {

}

.post-content .video-embed iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.posts li {
    margin-bottom: 0px;
}

.posts ul {
    list-style-type: circle;
}

.post code {
    overflow-wrap: break-word;
}

.post pre > code {
    overflow-wrap: normal;
}
