@import 'base';

#logo {
    float: left;
    margin-top: 10px;
}

.post-content img {
    width: 100%;
}

.single-post h1 {
    margin-bottom: 25px;
}

.posts li { 
    margin-bottom: 0px; 
}

.posts ul {
    list-style-type: circle;
}

.post code {
    overflow-wrap: break-word;
}

.post pre > code {
    overflow-wrap: normal;
}